[submodule "array-hash"]
	path = array-hash
	url = git@github.com:Tessil/array-hash.git
[submodule "emilib"]
	path = emilib
	url = git@github.com:emilk/emilib.git
[submodule "flat_hash_map"]
	path = flat_hash_map
	url = git@github.com:skarupke/flat_hash_map.git
[submodule "hopscotch-map"]
	path = hopscotch-map
	url = git@github.com:Tessil/hopscotch-map.git
[submodule "ordered-map"]
	path = ordered-map
	url = git@github.com:Tessil/ordered-map.git
[submodule "robin-map"]
	path = robin-map
	url = git@github.com:Tessil/robin-map.git
[submodule "sparse-map"]
	path = sparse-map
	url = git@github.com:Tessil/sparse-map.git
[submodule "sparsepp"]
	path = sparsepp
	url = git@github.com:greg7mdp/sparsepp.git
[submodule "ordered_patch_map"]
	path = ordered_patch_map
	url = https://github.com/1ykos/ordered_patch_map
[submodule "libcuckoo"]
	path = libcuckoo
	url = https://github.com/efficient/libcuckoo.git
[submodule "bplus-tree"]
	path = bplus-tree
	url = git://github.com/berenm/bplus-tree.git
